body,
.overPedido {background:#141414;}
.barTop,nav.menuAjaxfy,
.controlColorBG:nth-child(even),
.playerTopo {
  background-color: #202020!important;
  background-image: url(../imgs/bgpt.png)!important;}
  
.controlColorBG:nth-child(odd) {
  background-color: #151515!important;
  background-image: url(../imgs/bgpt.png)!important;}
.linkHoost {background:url(../imgs/dark/logoHoost.png); margin:10px 15px;}

footer {border-top: solid 3px rgba(255,255,255,0.1);}

.streamAccountInfo,
header .top .locutor strong,
header .top .locutor p,
.widget_container h3,
#myshouts_form p
#myshouts_form span {color:#fff; text-shadow:0 1px 0px rgba(0,0,0,0.3);}


input[type=text], input[type=email], input[type=password], textarea {background-color:#fff;}

body,
.overPedido,
.linksSociais li:hover {background:#141414;}

body .bgC1 {background:#161616;}

body * {color:#fff;}
.formPedidos p {color:#999;}
header .top .locutor a,
.tooltip:after,
.tooltip:after,
[data-tooltip]:after,
.twitterContainer,
.sepWidgets,
.iconMobile:hover,
.iconMobile.ativo,
.imgIcon,
#wp-calendar tbody td a,
#wp-calendar thead th,
.openFormShout span,
input[type=submit],
.sweet-alert[data-has-cancel-button=false] button,
.titlePedidos,
.containerTop .thumbImgTop,
.padraoWidget li .imgThumb a,
.socialLinks:hover,
.secundarioTop .thumbImgTop .subAVideo,
.thumbInners,
.thumbInners .compartilhe ul li a,
.listPorgramacao li.active a,
.titleInners ul li a:hover,
.titleInners ul li span,
.sliderPrincipal ul li .slidercontent h2,
.twitterContainer *,
.thumbInners h3,
.containerProgramacao *,
body .descProgramacaoContent p,
#breadcrumbs *,
.thumbInners.mini.singleProgramacao p {color:#fff!important;}

.barTop .titStreamInfo,
header .top .locutor strong,
.noticiasContainer li .contetNoticias h3 a,
.noticiasContainer li .contetNoticias p,
.recado p,
#wp-calendar * {color:#fff!important;}

#wp-calendar thead th,
#wp-calendar tbody td a {color:#fff!important;}

input[type=text], input[type=email], input[type=password], textarea,
.sk-comment {background: #181818; border: 1px solid #202020;}


::-webkit-input-placeholder {color:#555555;}
:-moz-placeholder {color:#555555;}
::-moz-placeholder {color:#555555;}
:-ms-input-placeholder {color:#555555;}

.videosInner {background:#fff;}

h2.titleModHome,
.titleWidgets,
#myshouts_shouts ul li.rightShout .recado span, #myshouts_shouts ul li.rightShout .recado strong,.widget_container ul li a,#myshouts_shouts ul li.leftShout,.recado strong,
.widget_container h3,
.widget_container ul li a, .footer_widget p,
footer span,
.titleInners,
.innerBlog ul li .contetNoticias p,.conteudoInnerPages p {color:#fff!important; }

.innerBlog ul li .contetNoticias p,.conteudoInnerPages p {opacity:0.9;}

header .top nav ul li a {color:#fff; opacity:0.6!important;}
header .top nav ul li a:hover {color:#fff; opacity:1!important;}

.widget_container h3,
.titleInnersm,
.innerBlog ul li h3 a {border-bottom: solid 3px rgba(255,255,255,0.1);}
.listPorgramacao {border-bottom: solid 1px #212121;}

.titleInners.top,
.innerBlog ul li span.finalBlogItem {border-top: solid 3px rgba(255,255,255,0.1);}


header .top form,
.openFormShout,
.formShout, #myshouts_shouts,
.boxFacebook, #calendar_wrap,
.boxFacebookWidget,
.containerTop,
.socialLinks,
.contentDefinilly,
.innerNoticia li .margInnerNoticias,
.categoriasArchuives,
.categorias li a,
.titleInners ul li a,
.innerGaleria ul li .item_galeria {background: #191919!important; border: 1px solid #202020!important;}



body .bgC2 .innerEventos ul li {border: 1px solid #191919;}

body .bgC2 header .top form,
body .bgC2 header .top .locutor,
body .bgC2 .openFormShout,
body .bgC2 .formShout,
body .bgC2 #myshouts_shouts,
body .bgC2 .boxFacebook,
body .bgC2 #calendar_wrap,
body .bgC2 .boxFacebookWidget,
body .bgC2 .containerTop,
body .bgC2 .socialLinks,
body .bgC2 .contentDefinilly,
body .bgC2 .innerNoticia li .margInnerNoticias,
body .bgC2 .categoriasArchuives,
body .bgC2 .categorias li a,
body .bgC2 .titleInners ul li a,
body .bgC2 .innerGaleria ul li .item_galeria,
#preloadAjaxfy  {background: #161616; border: 1px solid #191919;}

body .bgC2 .innerEventos ul li {border: 1px solid #191919;}

.colunEvent,.adresEvent {border:solid 1px rgba(255,255,255,0.3);}

.thumbInners .compartilhe {background:#161616; color:#fff;}

.innerEventos ul li .containerTrueEventos {background:#161616;}


#wp-calendar caption,
#calendar_wrap,
#wp-calendar tbody,
#wp-calendar tfoot a {background: #191919!important;}


header .top nav{border-top:solid 1px #191919!important;}
header .top nav ul li a {border-top:solid 1px rgba(255,255,255,0)!important;}


.linkHoost {background: url('../imgs/dark/logoHoost.png');}
.icoSocial {background-image: url('../imgs/dark/sprite.png'); border-radius:5px;}


.listPorgramacao li a:hover {text-decoration:none; opacity:1; color:#fff;}


.innerBlog ul li h3 a:hover, .widgetBlog li h4 a:hover {color:#fff;}

header .top nav ul li ul {background: #1d1d1d;}
header .top nav ul li ul li {border-bottom: solid 1px #191919;}
header .top nav ul li ul:after {border-color: rgba(29, 29, 29, 0);border-bottom-color: #1d1d1d;border-width: 10px;}
header .top nav ul li ul:before {border-color: rgba(29, 29, 29, 0);border-bottom-color: #1d1d1d;border-width: 13px;
}

.help {
    border: 1px #fff solid;
}

.help:after{
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,1);
    border-radius: 100%;
    position: absolute;
    content: "";
}

#playerBeat #slider {background:rgba(255,255,255,0.1);}



.totalpoll-choice-container,
.totalpoll-choice-checkbox-container,
.totalpoll-choices,
.totalpoll-choice-separator {background: #191919!important; border-color:#202020!important;}




.wp-playlist-light,
.wp-playlist-light .wp-playlist-playing{
    background: #121212!important;
    border: 1px #191919!important;
    color: #000!important;
}



