.wp-caption-text.gallery-caption {display: none;}
.colunaCentral .gallery-item {margin-top: 0px!important; margin-bottom: 0px!important; width: 25%!important;}
.colunaEsquerda .gallery-item {margin-top: 0px!important; margin-bottom: 0px!important; width: 33%!important;}
.gallery-icon {overflow: hidden; border-radius: 10px; margin: 5px;}
.gallery-icon img {width: 100%; height: auto; border: none!important;}


.buttonZap {height: 55px; display: block; background: rgba(13, 193, 82, 1);  border-radius: 10px; overflow: hidden; line-height: 18px; color: #fff; text-decoration: none; font-size: 11px; margin: 32px; position: fixed; bottom: 0px; left: 0px; z-index: 11}
body.ultimate .buttonZap { margin: 43px; }
.buttonZap div {background: rgba(0,0,0,0.1); height: 55px; float: left; display: block; font-size: 40px; color: #fff; padding: 6px 12px;transition-duration: 0.3s;}
.buttonZap div i {color: #fff}
.buttonZap span {margin-top: 6px; color: #fff; display: block; text-shadow: 1px 2px 0px rgba(0,0,0,0.1)}
.buttonZap span.nbmr {font-weight: 700; margin: 0px; text-transform: uppercase; color: #fff; display: block; font-size: 17px; }
.buttonZap .containerZap {display: block; width: 170px; margin-left: 12px; float: left; margin-top: 0px;  }
.buttonZap:hover,.buttonZap:focus {text-decoration: none; outline: none;}
.buttonZap:hover div {background: rgba(0,0,0,0.3); transition-duration: 0.3s;}

.imgThumbLocutor img {width: 100%; height: auto;}

/*promocao*/
.promocaoRegulamento {text-align: center; color: #fff; padding: 15px; position: relative;}
.promocaoRegulamento:after {content: ' '; background: rgba(255,255,255,0.1); width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1;}

.participarPromocao {text-align: center; color: #fff; padding: 15px; position: relative; margin-top: 10px;}
.participarPromocao:after {content: ' '; background: rgba(0,0,0,0.1); width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1;}

.openRegulamento,.participarPromocao a {color: #fff; text-shadow: 0px 3px 0px rgba(0,0,0,0.1); text-transform: uppercase; font-weight: 800;display: block; font-size: 35px; position: relative; z-index: 2; line-height: 80px;font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;}
.openRegulamento:hover,.openRegulamento:focus,
.participarPromocao a:hover,.participarPromocao a:focus{color: #fff; text-decoration: none; opacity: 0.8; transition-duration: 0.3s;  }
.openRegulamento i, .participarPromocao a i {color: #fff; font-size: 35px; position: relative;}
.regulamentoContent {padding: 15px; background: #fff; text-align: justify; display: none;  margin-top: 15px; }
/* social */

.socialSingle {list-style: none; padding: 0px; margin-bottom: 30px; display: block;}
.socialSingle .shareFace {background: #3b5998;}
.socialSingle .shareTwit {background: #1da1f2;}
.socialSingle .shareWhat {background: #25d366;}

.socialSingle a {color: #fff; padding: 10px 10px 19px 10px; display: block; line-height: 22px;}
.socialSingle a:hover,.socialSingle a:focus {text-decoration: none;}
.socialSingle a:hover * {text-decoration: none; opacity: 0.8; transition-duration: 0.3s;}
.socialSingle a i {color: #fff; font-size: 50px; float: left; margin-right: 15px;}
.socialSingle a span {display: block; font-size: 30px; color: #fff; font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif; text-transform: uppercase;}



.innerGaleria ul li .imgThumb a {width: 100%; height: auto; }
.innerGaleria ul li h3 a {padding: 10px 10px;}

.thumbVideoArchive {width: 100%;}

.thumbArchiveGallery img {width: 100%; height: auto;}
.innerGaleria ul li p {margin-bottom: 10px;}

.item_galeria {padding: 5px; border-radius: 5px; margin: 10px 0px;}

.innerGaleria ul li h3 a:hover {text-decoration: none;}
body.light .innerGaleria ul li h3 a:hover {color:#fff;}
body.dark .innerGaleria ul li h3 a:hover {color:#fff;}


body.dark .regulamentoContent {background:#161616;}

#moduloFotos .mosaicflow {padding:0px 50px 50px 50px;}

.controlColorBG.chat {background-image: url('../imgs/chatBg.png')!important; background-color: #fec500!important;}

.playerTopo {z-index: 100;}

/* Ajustes Ultimate */
body.ultimate.light {background-color:#fff;}
body.ultimate.dark {background-color:#000;}

.margInnerNoticias {margin:10px 0px; position: relative; height: 450px;}

.noticiasContainer.innerNoticia  li .contetNoticias h3 a {height: auto;}
#newsHome ul li {height: 400px;}

body.dark .containerPromocao {background:#141414; border: solid 1px #191919;}


.bx-wrapper {z-index: 10;}


@media (min-width: 992px) { 
	body.ultimate .buttonZap {float: left; position: relative; bottom: 0px; left: 0px; z-index: 9}
}


/* Ajustes SoundPRO */
body.soundpro.light {background-color:#fff;}
body.soundpro.dark {background-color:#000;}

body.soundpro .thumbInners {background-image: url(../imgs/bgpt.png); height: auto;}
body.soundpro .thumbInners h3 {padding:30px; margin: 0px;}
body.soundpro .contentDefinilly {margin: 20px 0px;}

body.soundpro .conteudoInnerPages {margin: 20px 0px;}


body.soundpro.dark #playerBeat.boxed span.icon {background-color:transparent!important;background-image: none!important;}

body.soundpro.dark #playerBeat .statusStream span.status {color: #fff;}
body.soundpro.light .playerTopo {background-color: #f6f6f6!important;}


@media (min-width: 992px) { 
	body.soundpro .buttonZap {float: right; position: relative; z-index: 9; margin: 8px 0px;}
}

/* Ajustes BeatBox */
body.beatbox.light {background-color:#fff;}
body.beatbox.dark {background-color:#000;}

body.beatbox.dark .playerTopo {background-color: #202020!important;}

body.soundpro .chat .chatRealContainer,
body.beatbox .chat .chatRealContainer{margin:120px 47px;}

body.beatbox .bx-wrapper .bx-controls-direction a {z-index: 1;}
body.beatbox .linksPlayrs li a {border: none!important;}
body.beatbox .thumbInners h3.titleWidgets {font-size: 45px;}

body.beatbox .conteudoInnerPages  {padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;}
body.beatbox .conteudoInnerPages ul {list-style: none; padding:0px; margin: 0px;}
body.beatbox .conteudoInnerPages ul li {padding-left: 0px; padding-right: 0px;}
body.beatbox .conteudoInnerPages .noticiasContainer ul li .imgThumb {width: 30%; float: left; height: 200px; overflow: hidden; border-radius: 5px 0px 0px 5px; background: rgba(25,25,25,1);}
body.beatbox .conteudoInnerPages .noticiasContainer ul li .imgThumb img {height: 100%; width: auto;}
body.beatbox .conteudoInnerPages .noticiasContainer ul li .contetNoticias {width: 70%; float: left;}

body.beatbox .conteudoInnerPages .noticiasContainer ul li .margInnerNoticias {background: rgba(25,25,25,1); margin:0px 0px 15px 0px; height: 200px; border-radius: 5px;}
body.beatbox .conteudoInnerPages ul li h3 {margin: 0px; padding: 0px;}
body.beatbox .conteudoInnerPages ul li h3 a{font-size: 30px; color: #fff; font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif; text-transform: uppercase;}
body.beatbox .conteudoInnerPages ul li h3 a:hover {text-decoration: none;}
body.beatbox .noticiasContainer .contetNoticias {position: relative; height: 100%;}
body.beatbox .noticiasContainer .contetNoticias p {position: absolute; bottom: 15px; left: 15px; margin: 0px; opacity: 0.5;}


body.beatbox .beatboxInner {padding: 0px;}
body.beatbox .thumbNoticiasInner {margin-bottom: 0px;}

body.beatbox .noticiasContainer .conteudoInnerPages ul li:nth-child(even) {padding-left: 10px;}
body.beatbox .noticiasContainer .conteudoInnerPages ul li:nth-child(odd) {padding-right: 10px;}

body.beatbox .blogContainer ul li {background: rgba(25,25,25,1 ); padding: 10px; margin:0px 0px 15px 0px;}

body.beatbox .conteudoInnerPages ul.listPorgramacao {padding-bottom: 15px;}

body.beatbox .conteudoInnerPages ul.listPorgramacao li {margin-bottom: 5px;}


body.beatbox .singleProgramacao .container {position: relative; padding-left: 150px; min-height: 135px;}
body.beatbox .innerProgramaThumb {position: absolute; left: 0px; top: 0px; width: 135px; height: 135px;  overflow: hidden; border-right: solid 5px #ffff;}
body.beatbox .innerProgramaThumb img {width: 135px; height: 135px;}
body.beatbox .singleProgramacao h3 {border-left: 0px; padding-left: 0px;}

body.beatbox .galeriaContainer ul li h3 a{font-size: 18px;}
body.beatbox .item_galeria {background: rgba(25,25,25,1); margin: 5px;}


body.beatbox .containerEquipe {padding: 0px 0px 30px 0px;}


body.beatbox.light .conteudoInnerPages .noticiasContainer ul li .margInnerNoticias {background: rgba(255,255,255,1);}
body.beatbox.light .conteudoInnerPages ul li h3 a{color:#333!important}
body.beatbox.light .blogContainer ul li{background: rgba(255,255,255,1)}
body.beatbox.light .promocaoRegulamento {color: #333;}

.programacaoItem {padding: 10px;}
.programacaoItem a {overflow: hidden;}
.programacaoItem a img {transition-duration: 0.3s;}
.programacaoItem a:hover img {transform: scale(1.2); transition-duration: 0.3s;}


.overFlwProgramacao {overflow: hidden; border-radius: 5px;}
.innerEventos ul li .containerTrueEventos .imgThumb img {width: 100%; height: auto;}

.center-block {
  display: table!important;
  margin: 0 auto;
	float: none;
}


@media (max-width: 992px) { 
	body.beatbox .conteudoInnerPages ul li {padding: 0px!important;}
	body.beatbox .conteudoInnerPages ul li .imgThumb {width: 100%; float: none; border-radius: 5px;}
	body.beatbox .conteudoInnerPages ul li .imgThumb img {height: auto; width: 100%;}
	body.beatbox .conteudoInnerPages ul li .contetNoticias {width: 100%; float: none;}
	body.beatbox.dark .conteudoInnerPages ul li .margInnerNoticias {height: auto;}
	body.beatbox .contetNoticias {height: auto; padding-bottom: 40px;}
}


@media (min-width: 992px) { 
	body.beatbox .buttonZap {float: right; position: relative; bottom: 0px; left: 0px; z-index: 9;  margin: 8px 0px; text-align: left;}
}

.realContainerPedidos {display: table; margin: 0 auto;}
.imgIcon {background:none!important; }
.imgIcon i {color: #fff; font-size: 40px;}

.eventsInfo {display: table; width: 100%;  clear: both;}
.adresEvent {background: rgba(25,25,25,0.1);}
.colunEvent, .adresEvent {
    display: block;
    width: 50%;
    color: #fff;
    float: left;
    text-align: center;
    font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 15px 0px;
}
.adresEvent {
    width: 100%;
}

.pedidoMusicaWidget i {color: #fff; font-size: 46px; float: left; text-align: left;}
.pedidoMusicaWidget .containerTxtPedidos {float:left; padding: 0 10px; text-align: left; color: #fff; font-size: 11px; line-height: 20px;}
.pedidoMusicaWidget span {display: block; color: #fff; font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif; font-size: 22px;}


.imgThumb img {transition-duration: 0.3s;}
li:hover .imgThumb img {transform: scale(1.2); transition-duration: 0.3s;}

body.dark #playerBeat span.icon{background-color:transparent!important}

body.soundpro .mobileMenu {display: none;}

@media (max-width: 768px) { 
	div.quick-chat-history-message-alias-container:before,div.quick-chat-history-message-alias-container div.quick-chat-history-header img.avatar {display: none!important;}
	div.quick-chat-history-message-alias-container {margin-left: 20px!important;}
	.chatRealContainer {padding: 15px!important}
	
	body.single .txtCopright {float: none; text-align: center; display: block;}
	body.single .linkHoost {float: none; margin: 20px auto 70px auto;}
	body.single .twitterContainer p {font-size: 20px; padding: 0 20px;}
	body.single #gridPhotos { padding: 0 40px;}
	body.single .widgetContainer {padding: 30px 0px;}
	
	body.single #modNoticias ul li:first-child .containerNoticias .contentNoticias .date,
	body.single #modNoticias ul li:first-child .containerNoticias .contentNoticias p,
	body.single .buttonMore,
	body.single #modNoticias ul li .containerNoticias .contentNoticias .date,
	div.quick-chat-users-container-left{display: none;}
	body.single #modNoticias ul li:first-child .containerNoticias {margin-bottom: 30px;}
	body.single #modNoticias ul li .containerNoticias .contentNoticias h3 {margin-top: 0px;}
	body.single #modNoticias ul li .containerNoticias .imgThumb {width: 100px;}
	body.single #modNoticias ul li .containerNoticias .imgThumb:after { background: #111016; position: absolute;  bottom: -50px; right: -130px;  height: 180px; width: 170px; content: ''; transform: rotate(20deg); z-index: 1;}
	body.single .widget_hoost_blog ul li .contetNoticias {padding-top: 160px;}
	body.single .mainSite ul li a .slidercontent {top: 40%;}
	
	body.single.light #modNoticias ul li .containerNoticias .imgThumb:after {background: #fff;}
	
	#modNoticias ul li:first-child .containerNoticias .imgThumb {width:100%!important;}
	#modNoticias ul li:first-child .containerNoticias .imgThumb:after {display:none;}
	#modNoticias ul li:first-child .containerNoticias .contentNoticias h3 {margin-top: 40px!important;}
	
	.conteudoInnerPages .contentDefinilly .gallery .gallery-item {width:50%!important;}
	
	
	body.soundpro .mobileMenu {display: block; }
	body.soundpro .mobileMenu a {display: block; text-align: center;color: #fff; font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif; font-size: 42px; padding: 10px; border-bottom: solid 2px #000;}
	body.soundpro .mobileMenu a:hover {text-decoration: none;}
	
	body.soundpro .mobileMenu .menuAjaxfy {display: none; }
	body.soundpro .mobileMenu .menuAjaxfy ul {list-style: none; padding: 0px; margin: 0px; text-align: center;}
	body.soundpro .mobileMenu .menuAjaxfy ul li ul li a {font-size:30px; opacity: 0.6;} 
	body.soundpro nav.menuAjaxfy{display: none;}
	
	body.single #menu-menu-principal {padding-bottom: 40px;}
	
}


body.ultimate #widgetNoticias li .imgThumb img,body.ultimate .programacaoItem a img {width: auto; position: relative; left: 50%; transform: translate(-50%,-0%) }
body.soundpro header .top .locutor {margin: 20px 0px;}
body.soundpro .top .linksSociais {margin: 32px 15px;}
body.soundpro .top .buttonZap {margin: 25px 0px;}

body.beatbox #widgetNoticias li .widgetNoticiasInner {height: 240px;}


.img100porcent {width: 100%;}


.programacaoItem a img {
    width: 100%!important;
    height: auto!important;
}

body.single .programacaoItem a {width: 100%;}

#mapaGoogle {width: 100%; height: 400px;}
.thumbNoticiasInner img {width:100%!important; height:auto!important;}